/*1_REGLAGE PAGE*/
/*2_TEMPLATE*/
/*3_PAGE LOGIN*/
/*4_PAGE CHAPITRE*/
/*5_PAGE POSTVIEW*/
/*6_PAGE ADMINISTRATION*/
/*7_PAGE UPDATE CHAPTER*/
/*8_REGLAGE JS*/
/*9_PAGE D'ERREUR */
/***************************1_REGLAGE PAGE**********************************/
body{
	width: 100%;
	margin: auto;
}
/***************************2_TEMPLATE*************************************/
#container{
	position: relative;
	background-image: url('../images/alaska.jpg');
	height: 800px;
}
header h1{
	color: white;
	width: 70%;
	margin-left: 2%;
}
header{
	position: fixed;
	left: 0;
	right: 0;
	background-color: rgb(0,0,0);
	display: flex;
	z-index: 10;
}
nav{
	width: 30%;
	margin: auto;
}
nav ul{
	display: flex;
	justify-content: space-around;
	font-size: 20px;
	list-style: none;
	padding: 0;
}
nav i{
	margin-right: 5px;
	color: white;
}
nav a{
	color: white;
	text-decoration: none;
}
nav a:hover{
	color: red;
}
#descriptif-container{
	position: absolute;
	top: 500px;
	left: 0;
	right: 0;
	background-color: rgba(0,0,0,0.7);
	width: 40%;
	margin: auto;
	text-align: center;
	border-radius: 10px;
}
#descriptif-container p{
	color:white;
	font-size: 30px;
}
#descriptif-container button{
	width: 30%;
	height: 30px;
	background-color: rgb(35, 114, 165); /*Bleu clair*/
	border-color:rgb(35, 114, 165); /*Bleu clair*/
	color:white;
	border-radius: 10px;
	font-size: 20px;
}
button a{
	text-decoration: none;
	color: white;
}
footer {
	background-color: rgb(35, 114, 165); /*Bleu clair*/
	text-align: center;
	height: 60px;
	margin-top: 30px;
}
footer p{
	margin: 0;
	padding: 20px 0px 20px 0;
}
#extrait-roman{
	width: 80%;
	margin: auto;
	text-align: justify;
}
/*************************************3_PAGE LOGIN***************************/
#container-login{
	width: 60%;
	margin: auto;
	height: 100px;
	line-height: 40px;
	text-align: center;
}
#container-login input{
	width: 40%;
	height: 20px;
	margin: auto;
}
#bloc-bouton{
	text-align: left;
	width: 40%;
	margin: auto;
	display: flex;
}
.bloc-bouton button{
	width: 120px;
	height: 30px;
	background-color: rgb(35, 114, 165);
	color: white;
	border: rgb(35, 114, 165) 2px solid;
	border-radius: 10px;
	font-size: 14px;
}
/******************************4_PAGE CHAPITRE******************************/
#block_chapitre{
	width: 60%;
	margin: auto;
	text-align: justify;
}
.text_chapitres a{
	color:rgb(35, 114, 165); /*Bleu clair*/;
}
.titre_chapitre{
	text-align: center;
	background-color: rgb(35, 114, 165); /*Bleu clair*/;
	color: white;
	height: 50px;
	line-height: 50px;
}
/******************************5_PAGE POSTVIEW******************************/
#block_page_com{
    width: 70%;
    margin: auto;
    text-align: justify;
    margin-bottom: 30px;
}
#text_chapitres_com h1{
	background-color: rgb(35, 114, 165); /*Bleu clair*/
    margin-top: 50px;
    text-align: center;
    color: white;
}
#text_chapitres_com p{
	padding-top: 20px;
	padding-bottom: 20px;
}
.affichage_com{
	display: flex;
	flex-direction: column;
	width: 80%;
	margin: auto;
}
.commentaires{
	display: flex;
	border: 3px solid rgb(35, 114, 165); /*Bleu clair*/
	margin-bottom: 5px;
    text-align: center;
}
.commentaires p {
 margin: auto;
}
#partie_date{
    width: 15%;
    margin: 0;
    font-size: 15px;
    text-align: center;
}
#partie_auteur{
    width: 80%;
    margin: 0;
}
.button_signal{
	float: right;
	display: block;
}
.button_signal i{
	padding-right: 10px;
}
#validate_signal{
	text-align: center;
	text-decoration: underline;
	display: none;
}
/*Partie commentaire*/
.barre_commentaires{
    background-color: rgb(35, 114, 165); /*Bleu clair*/
    height: 50px;
    line-height: 50px;
    margin-bottom: 30px;
}
.barre_commentaires h1{
    text-align: center;
    color: white;
}
#formulaire_commentaire{
    border: solid 2px rgb(35, 114, 165); /*Bleu clair*/
    border-radius: 20px;
    box-shadow: 4px 4px 2px rgb(35, 114, 165); /*Bleu clair*/
    height: 200px;
}
#formulaire_commentaire textarea{
    height: 80px;
}
#formulaire_commentaire{
    flex-direction: column;
}
.MP_commentaire{
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    padding-top: 15px;
}
.MP_commentaire input{
    border: solid 1px rgb(35, 114, 165); /*Bleu clair*/
    border-radius: 5px;
}
.MP_commentaire textarea{
    border-radius: 5px;
    z-index: 3;
}
#MP_bouton{
    background-color: rgb(35, 114, 165); /*Bleu clair*/
    border-color:rgb(35, 114, 165); /*Bleu clair*/
    color:white;
    border-radius: 10px;
    font-size: 15px;
    margin-top: 10px;
}
#button_com{
    width: 100%;
}
/***************************6_PAGE ADMINISTRATION****************************/
/*6.1:MENU NAVIGATION*/
#nav_administration{
    width: 100%;
    margin-top: 20px;
}
#nav_administration ul{
    padding: 0;
    margin: 0;
}
#nav_administration li{
    background-color: rgb(214, 214, 214);
    width: 40%;
    height: 50px;
    text-align: center;
    line-height: 50px;
}
#nav_administration li:hover{
    background-color: rgb(35, 114, 165);
}
#nav_administration a:active{
    background-color: rgb(35, 114, 165);
}
/*6.2:TABLEAU*/
#conteneur_delete table{
    margin: auto;
    width: 50%;
}
#conteneur_delete th, td{
    border: 1px black solid;
    text-align: center;
}
#conteneur_delete a{
    text-decoration: none;
    color: blue;
}
#Add_chapter{
    width: 10%;
    margin: auto;
}
#blocAdministration h1{
	text-align: center;
	text-decoration: underline;
}
/******************************7_PAGE UPDATE CHAPTER AND ADD NEW CHAPTER******************************/
.titre_de_page p{
	font-size: 60px;
	text-decoration: underline;
}
#Id_modif{
    width: 50%;
    margin: auto;
}
#title_modif{
    width: 70%;
    margin: auto;
}
#title_modif input{
    width: 70%;
}
.bloc_formulaire{
	text-align: center;
}
.bloc_formulaire h1{
	background-color: blue;
	width: 50%;
	margin: auto;
	margin-top: 20px;
}
.conteneur_formulaire{
	background-color: rgb(225, 224, 224);
	padding-top: 30px;
	height: 500px;
	width: 60%;
	margin: auto;
	margin-top: 20px;
	border-radius: 10px;
}
#form_update #mceu_11{
    height: 400px;
    width: 90%;
    margin: auto;
}
#form_update #mytextarea{
    height: 300px;
}
#form_update{
	width: 90%;
    margin: auto;
}
#form_updates #mceu_11{
    height: 400px;
    width: 90%;
    margin: auto;
}
#form_updates #mytextarea{
    height: 300px;
}
#form_updates{
    width: 90%;
    margin: auto;
}
.bloc_boutton{
    width: 100%;
    margin: auto;
    margin-top: 20px;
}
/******************************8_REGLAGE JS******************************/
#blocAdministration, #blocAdministration2{
	display: none;
}
#BlocCommentaireSignaler h1{
	text-align: center;
	text-decoration: underline;
}
/**************************9_PAGE D'ERREUR **************************/
#section_erreur p{
	text-align: center;
	font-size: 30px;
}