/*1_REGLAGE PAGE*/
/*2_TEMPLATE*/
/*3_PAGE LOGIN*/
/*4_BLOC COMMENTAIRE*/
/*5_PAGE CHAPITRE*/
/*6_PAGE POSTVIEW*/
/*7_PAGE ADMINISTRATION*/
/*8_PAGE UPDATE CHAPTER*/
/*9_REGLAGE JS*/
/*10_PAGE D'ERREUR */
/***************************1_REGLAGE PAGE**********************************/
body{
	width: 100%;
	margin: auto;
}
/***************************2_TEMPLATE*************************************/
#container{
	position: relative;
	background-image: url('../images/alaska.jpg');
	height: 800px;
}
header h1{
	color: white;
	width: 70%;
	margin-left: 2%;
}
header{
	position: fixed;
	left: 0;
	right: 0;
	background-color: rgb(0,0,0);
	display: flex;
	z-index: 10;
}
nav{
	width: 30%;
	margin: auto;
}
nav ul{
	display: flex;
	justify-content: space-around;
	font-size: 20px;
	list-style: none;
	padding: 0;
}
nav i{
	margin-right: 5px;
}
nav a{
	color: white;
	text-decoration: none;
}
nav a:hover{
	color: red;
}
#descriptif-container{
	position: absolute;
	top: 500px;
	left: 0;
	right: 0;
	background-color: rgba(0,0,0,0.7);
	width: 40%;
	margin: auto;
	text-align: center;
	border-radius: 10px;
}
#descriptif-container p{
	color:white;
	font-size: 30px;
}
#descriptif-container button{
	width: 30%;
	height: 30px;
	background-color: rgb(35, 114, 165); /*Bleu clair*/
	border-color:rgb(35, 114, 165); /*Bleu clair*/
	color:white;
	border-radius: 10px;
	font-size: 20px;
}
button a{
	text-decoration: none;
	color: white;
}
footer {
	background-color: rgb(35, 114, 165); /*Bleu clair*/
	text-align: center;
	height: 60px;
	margin-top: 30px;
}
footer p{
	margin: 0;
	padding: 20px 0px 20px 0;
}
#extrait-roman{
	width: 80%;
	margin: auto;
	text-align: justify;
}
/*************************************3_PAGE LOGIN***************************/
#login h1{
	text-align: center;
	text-decoration: underline;
	color: white;
	margin-bottom: 0;
	margin-top: 0px;
}
#container-login{
	width: 60%;
	margin: auto;
	height: 100px;
	line-height: 40px;
	text-align: center;
}
#container-login input{
	width: 40%;
	height: 20px;
	margin: auto;
}
nav i{
	color: white;
}
#bloc-bouton{
	text-align: left;
	width: 40%;
	margin: auto;
	display: flex;
	justify-content: space-between;
}
.bloc-bouton button{
	width: 120px;
	height: 30px;
	background-color: rgb(35, 114, 165);
	color: white;
	border: rgb(35, 114, 165) 2px solid;
	border-radius: 10px;
	font-size: 14px;
}
#login-titre p{
font-size: 60px;
text-decoration: underline;
}
/********************************4_BLOC COMMENTAIRE***************************/
#container_commentaire{
	width: 80%;
	margin: auto;
}
.barre_commentaires{
	background-color: rgb(35, 114, 165); /*Bleu clair*/
	height: 50px;
	line-height: 50px;
	margin-bottom: 30px;
}
.barre_commentaires h1{
	text-align: center;
	color: white;
}
#block_commentaire{
	border: solid 2px rgb(35, 114, 165); /*Bleu clair*/
	border-radius: 20px;
	box-shadow: 4px 4px 2px rgb(35, 114, 165); /*Bleu clair*/
	height: 170px;
}
#formulaire_commentaire{
	flex-direction: column;
}
.MP_commentaire{
	width: 80%;
	margin: auto;
	display: flex;
	flex-direction: column;
	padding-top: 15px;
}
.MP_commentaire input{
	border: solid 1px rgb(35, 114, 165); /*Bleu clair*/
	border-radius: 5px;
}
.MP_commentaire textarea{
	border-radius: 5px;
}
.MP_bouton{
	width: 100%;
	margin-top: 10px;
	padding-left: 115px;
}
#MP_bouton{
	background-color: rgb(35, 114, 165); /*Bleu clair*/
	border-color:rgb(35, 114, 165); /*Bleu clair*/
	color:white;
	border-radius: 10px;
	font-size: 15px;
	margin-left:85px;
	margin-top: 10px;
}
/******************************5_PAGE CHAPITRE******************************/

#chapitre-titre p {
	font-size: 60px;
	text-decoration: underline;
}
#block_page_2{
	width: 60%;
	margin: auto;
	text-align: justify;
}
.text_chapitres a{
	color:rgb(35, 114, 165); /*Bleu clair*/;
}
.titre_chapitre{
	text-align: center;
	background-color: rgb(35, 114, 165); /*Bleu clair*/;
	color: white;
	height: 50px;
	line-height: 50px;
}
/******************************6_PAGE POSTVIEW******************************/
#Chapitre-titre p {
	font-size: 50px;
	text-decoration: underline;
	margin: 0;
}
#text_chapitres_com h1{
	color: rgb(35, 114, 165); /*Bleu clair*/
	text-decoration: underline;
}
#text_chapitres_com p{
	padding-top: 50px;
	padding-bottom: 50px;
}
.affichage_com{
	display: flex;
	flex-direction: column;
	width: 80%;
	margin: auto;
}
.commentaires{
	display: flex;
	border: 3px solid rgb(35, 114, 165); /*Bleu clair*/
	margin-bottom: 5px;
}
.commentaires p {
 margin: auto;
}
#block_page_com{
	width: 70%;
	margin: auto;
	text-align: justify;
	margin-bottom: 30px;
}
.button_signal{
	float: right;
	display: block;
}
.button_signal i{
	padding-right: 10px;
}
/***************************7_PAGE ADMINISTRATION****************************/

#Administration-titre p{
	font-size: 50px;
	text-decoration: underline;
}
#nav_administration{
	width: 100%;
	margin-top: 20px;
}
#nav_administration ul{
	padding: 0;
	margin: 0;
}
#nav_administration li{
	background-color: rgb(214, 214, 214);
	width: 40%;
	height: 50px;
	text-align: center;
	line-height: 50px;
}
#nav_administration li:hover{
	background-color: rgb(35, 114, 165);
}
#nav_administration a:active{
	background-color: rgb(35, 114, 165);
}
#blocAdministration h1{
	text-align: center;
	text-decoration: underline;
}
#container_button{
	width: 100%;
	margin: auto;
}
#container_button a{
	margin-left: 10%;
}
#conteneur_delete table{
	margin: auto;
	width: 50%;
}
#conteneur_delete th, td{
	border: 1px black solid;
	text-align: center;
}
#conteneur_delete a{
	text-decoration: none;
	color: blue;
}
#Add_chapter{
	width: 10%;
	margin: auto;
}
#Ajoutchapitre input{
	margin-bottom: 20px;
}
/******************************8_PAGE UPDATE CHAPTER******************************/
#update-titre p{
	font-size: 60px;
	text-decoration: underline;
}
#BlocUpdateChapter{
	text-align: center;
}
#BlocUpdateChapter h1{
	background-color: blue;
	width: 50%;
	margin: auto;
	margin-top: 20px;
}
#conteneur_update{
	background-color: rgb(225, 224, 224);
	padding-top: 30px;
	height: 300px;
	width: 60%;
	margin: auto;
	margin-top: 20px;
	border-radius: 10px;
}
#conteneur_update label{
	display: block;
	width: 150px;
	float: left;
}
#form_update input{
	width: 70%;
	height: 20px;
}
#form_update textarea{
	height: 150px;
	width: 70%;
}
#Ajoutchapitre form{
	width: 80%;
	margin: auto;
	margin-top: 20px;
}
/******************************9_REGLAGE JS******************************/
#blocAdministration, #blocAdministration2, #Ajoutchapitre{
	display: none;
}
#BlocCommentaireSignaler h1{
	text-align: center;
	text-decoration: underline;
}
/**************************10_PAGE D'ERREUR **************************/
#titre_erreur{
	font-size: 60px;
	text-decoration: underline;
	color: white;
}
#section_erreur p{
	text-align: center;
	font-size: 30px;
}
